[submodule "pack/bundle/start/carbon.vim"]
	path = pack/bundle/start/carbon.vim
	url = https://github.com/michaeldyrynda/carbon.vim
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/bundle/start/fern.vim"]
	path = pack/bundle/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
[submodule "pack/bundle/start/fern-renderer-nerdfont.vim"]
	path = pack/bundle/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim
[submodule "pack/bundle/start/nerdfont.vim"]
	path = pack/bundle/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim
[submodule "pack/bundle/start/vim-clap"]
	path = pack/bundle/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
[submodule "pack/bundle/start/vim-indent-guides"]
	path = pack/bundle/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/bundle/start/vim-endwise"]
	path = pack/bundle/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/bundle/start/vim-cpp-modern"]
	path = pack/bundle/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/bundle/start/vim-polyglot"]
	path = pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/bundle/start/rainbow"]
	path = pack/bundle/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/bundle/start/haskell-vim"]
	path = pack/bundle/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/bundle/start/vim-autoformat"]
	path = pack/bundle/start/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat
