[submodule "pack/bundle/start/fern.vim"]
	path = pack/bundle/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
[submodule "pack/bundle/start/fern-renderer-nerdfont.vim"]
	path = pack/bundle/start/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim
[submodule "pack/bundle/start/nerdfont.vim"]
	path = pack/bundle/start/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim
[submodule "pack/bundle/start/vim-indent-guides"]
	path = pack/bundle/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/bundle/start/vim-endwise"]
	path = pack/bundle/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/bundle/start/vim-cpp-modern"]
	path = pack/bundle/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/bundle/start/rainbow"]
	path = pack/bundle/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/bundle/start/haskell-vim"]
	path = pack/bundle/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/bundle/start/elm-vim"]
	path = pack/bundle/start/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "pack/bundle/start/vim-cabalfmt"]
	path = pack/bundle/start/vim-cabalfmt
	url = https://github.com/sdiehl/vim-cabalfmt
[submodule "pack/bundle/start/vim-stylish-haskell"]
	path = pack/bundle/start/vim-stylish-haskell
	url = https://github.com/nbouscal/vim-stylish-haskell
[submodule "pack/bundle/start/vim-clang-format"]
	path = pack/bundle/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "pack/bundle/start/vim-highlightedyank"]
	path = pack/bundle/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "pack/bundle/start/fzf.vim"]
	path = pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
