[submodule "pack/bundle/start/coc.vim"]
	path = pack/bundle/start/coc.vim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/bundle/start/carbon.vim"]
	path = pack/bundle/start/carbon.vim
	url = https://github.com/michaeldyrynda/carbon.vim
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/bundle/start/fern.vim"]
	path = pack/bundle/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
